.playerBody {
}

.player {
  position: absolute;
  height: 20%;
  bottom: 10%;
  .img {
    opacity: 0.2;
    &.active {
      opacity: 1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
//
//@media screen and (max-width: 450px) {
//  .player {
//    width: 40px;
//  }
//}
