.chickenBody {
  width: 30px;
  height: 30px;
  background-color: black;
  position: absolute;
  right: 30px;
  .eggsBody {
    position: absolute;
    left: 30px;
    bottom: 0;
    display: flex;
    color: brown;
  }
  .right {
    transform: rotate(90deg);
  }
}
