.openBody {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
}
.right {
  flex-direction: row;
}
.chicken {
  margin-right: 20px;
  opacity: 0.2;
  &.active {
    opacity: 1;
  }
}
