.buttonBody {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  height: 50%;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
}
